*{
    margin: 0;
    padding: 0;
}
/*shared style*/
.btn-primary{
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 30px;
    text-align: center;
    cursor: pointer;
    color: azure;
}

header{
    max-width: 1400px;
    margin: 80px auto;
    
}

nav{
    display: flex;
    justify-content: space-between;
}

.nav-menu ul li{
    list-style: none;
    position: relative;
    left: 50px;
}
.nav-menu ul{
    display: flex;
    gap: 10px;
}
.nav-title{
    width: 243px;
    height: 52.2px;
    color: #3A3A3A;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.banner{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.banner-title{
    color: #3A3A3A;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 134.615% */
}
.banner-description{
    color: #3A3A3A;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;

}

.banner-image{
    background-image: url(./influencer-gear-main/images/Circle\ design.svg);
    position: relative;
    bottom: 5rem;
}

.sponsor-img-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 2rem auto;
    
}
.sponsor-container{
    border-bottom: 0.2px solid rgb(177, 175, 175);
    border-top: 0.2px solid rgb(177, 175, 175);
    margin-top: 3rem;
}

main{
    margin: 0 auto;
}

.collection-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 74%;
    margin: auto;
    padding: 10px;
    /* margin: 10px 378px; */
}
.product-container{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    /* width: 20rem;
    height: 29rem; */
    padding: 3rem;
    margin: 1rem;
    width: 329px;
    height: 476px;
    flex-shrink: 0;
    
    
}

main h1{
    text-align: center;
    margin-bottom: 30px;
}
.product-container img{
    width: 100%;
    margin: auto;
}